<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f60">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <link rel="stylesheet" href="/css/bootstrap.css?v={{version}}">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css?v={{version}}">
    <link rel="stylesheet" href="/editor/themes/default/default.css?v={{version}}" />
    <script charset="utf-8" src="/editor/kindeditor-all.js?v={{version}}"></script>
    <script charset="utf-8" src="/editor/lang/zh-CN.js?v={{version}}"></script>
  </head>
  <body>
    <!--vue-ssr-outlet-->
  </body>
</html>
